<!DOCTYPE html>
<html>
	<head>
		<title>Flash Cards</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script src="js/lib/angular.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers/MainController.js"></script>
		<script src="js/controllers/StatsController.js"></script>
		<script src="js/factories/ScoreFactory.js"></script>
		<script src="js/factories/FlashCardsFactory.js"></script>
		<script src="js/filters/cheat.js"></script>
		<script src="js/directives/loader/loader.js"></script>
		<script src="js/directives/flashcards/flashcard.js"></script>
		<script src="js/directives/addflashcard/addflashcard.js"></script>
		<script src="js/directives/border-on-hover.js"></script>
	</head>

	<body>
		<div ng-app="FlashCards" ng-controller="MainController">
			<div ng-include="'templates/scoreboard.html'"></div>

			<add-flash-card card-categories="categories"></add-flash-card>

			<div>
				<button class="category-button"
					ng-click="selectCategory(category)"
					ng-repeat="category in categories"
					ng-class="{active: category == selectedCategory}">

					{{ category }}

				</button>
				<button class="category-button"
					ng-click="selectCategory()"
					ng-class="{active: selectedCategory == undefined}">

					All

				</button>

				<div ng-show="loading">
					<loader></loader>
				</div>

				<div ng-hide="loading">
					<flash-card ng-repeat="flashCard in flashCards" card="flashCard">
					</flash-card>
				</div>
			</div>
		</div>
	</body>
</html>